.notice {
    text-align: center;
    /*border: solid var(--border-color);*/
    border-radius: var(--border-radius);
    width: 30rem;
    margin: 0 auto;
}

.tag {
    border: 2px solid rebeccapurple;
    border-radius: 0.4rem;
    color: #3B5998;
    padding-bottom: 0.15rem;
}

.tags {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.notice .header {
    border: 5px solid var(--caption-color);
    border-radius: 0.4rem;
    padding-bottom: 0.4rem;
}

.notice .comment {
    text-align: left;
}

.notice .text {
    padding-bottom: 1rem;
    border-bottom: 4px solid #3B5998;
}

.notice .comment {
    border: 3px solid darkgreen;
    border-radius: 0.4rem;
    margin: 1rem;
    padding-left: 0.3rem;
}

.notice .comment_header {
    margin-bottom: 0.5rem;
}

.notice .comment_text {
    /*margin-bottom: 1rem;*/
}