main .title {
    font-size: 2rem;
    color: #3B5998;
}

main .information {
    position: relative;
    color: #A1A1A1;
}

main .news {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #B9B9B9;
}

main .information .login {
    color: #333333;
}

main .information .article_time {
    color: #3B5998;
}

main .attachment {
    padding: 0;
}

main .attachment li {
    list-style-type: none;
    background: url("./../img/paperclip-16x16.png") no-repeat left;
    padding-left: 20px;
    color: #A1A1A1;
}

main .footer {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    position: relative;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main .footer .left {
    margin-left: 0.5rem;
    margin-top: 0.75rem;
}

main .footer .right {
    position: absolute;
    right: 0.5rem;
    top: 0.75rem;
}

main .footer img {
    vertical-align: middle;
}

.articles li {
    list-style-type: none;
}